@mixin inner(
  $cont-width: 1200px
) {
  width: $cont-width;
  margin: 0 auto;
}

@mixin btn(
  $bg: blue
) {
  background-color: $bg;
  padding: 10px 8px;
  display: block;
}

@mixin card() {
  display: flex;
  flex-wrap: wrap;

  &__component {
    box-shadow: 0 0 5px 0 #cecece;
    width: calc((100% / 3) - 10px);
  }
}

@mixin btn(
  $bg: transparent,
  $color: #fff
) {
  display: block;
  background: $bg;
  color: $color;
  border: 1px solid #fff;
  padding: 6px 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;

  &:hover {
    background: #000;
    color: #fff;
    transition: all 0.4s;
  }
}

@mixin tag() {
  background: #000;
  color: #fff;
  padding: 6px 10px;
  display: inline-block;
  font-size: 12px;
}