@import "../partials/config";
@import "../partials/mixin";

.el_lv2Heading {
  color: $main-color;
  text-align: center;
  font-size: 40px;
}
.el_leadText {
  text-align: center;
}

.el_lv3Heading {

  &::before {
    content: "";
    border-left: 4px solid $main-color;
    margin-right: 10px;
  }
}

.ly_entry {
  .card {
    li {
      width: calc((100% / 2 ) - 20px);
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
      }
    }
  }
}

.bl_cardTextBox {
  width: 70%;
  padding: 20px 20px;
  position: relative;
  margin-top: -60px;
  background-color: #fff;
  z-index: 2;
}
.el_boxTtl {
  font-size: 24px;
}
.el_boxText {
  padding-left: 1em;
}

.ly_midCareer {
  background-color: gainsboro;
}

.ly_apply {
  background-color: $main-color;
  color: #fff;

  .el_lv3Heading {
    &::before {
      border-left: 4px solid #fff;
    }
  }
}