@import "../partials/config";
@import "../partials/mixin";
@import "../partials/cover_slide";

section {
  padding: 50px 0;
}

.el_tag {
  border: 1px solid #000;
  padding: 4px 8px;
  font-size: 10px;
  margin-left: 10px;
}

.bl_imgBox {
  max-height: 300px;
}

.el_lv2Heading {
  color: $main-color;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  padding-top: 60px;
}
.el_leadText {
  text-align: center;
  font-size: 16px;
  display: block;
  color: #000;
  margin-top: 10px;
}

.el_lv3Heading {
  margin-bottom: 30px;

  &::before {
    content: "";
    border-left: 4px solid $main-color;
    margin-right: 10px;
  }
}

.el_lv4Heading {
  // position: absolute;
  // bottom: 12%;
  // left: 4%;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  text-shadow: 1px 1px 1px grey;

  .ruby {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.ly_mv {
  .btn {
    @include btn(
      transparent,
      #fff,
      20px 0
    );
  }
}

.ly_entry {
  .card {
    li {
      width: calc((100% / 2 ) - 20px);
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
      }
    }
  }
}

.bl_cardTextBox {
  width: 70%;
  padding: 20px 20px;
  position: relative;
  margin-top: -60px;
  background-color: #fff;
  z-index: 2;
  box-sizing: border-box;
}
.el_boxTtl {
  font-size: 24px;
}
.el_boxText {
  padding-left: 1em;
}

.ly_event {
  background-color: gainsboro;
  .card {
    li {
      &:first-child {
        width: 60%;
        margin-right: 40px;
      }
      &:nth-child(2n) {
        // width: 40%;
        margin-right: 0;
      }

      position: relative;

      .el_lv4Heading {
        position: absolute;
        bottom: 12%;
        left: 4%;
        color: #fff;
        z-index: 2;
        text-shadow: 1px 1px 1px grey;

        .ruby {
          color: #fff;
          font-size: 20px;
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.ly_midCareer {
  background-color: gainsboro;

  .card {
    li {
      &:first-child {
        width: 60%;
        margin-right: 40px;
      }
      &:nth-child(2n) {
        // width: 40%;
        margin-right: 0;
      }

      position: relative;

      .el_lv4Heading {
        position: absolute;
        bottom: 16%;
        left: 4%;

        .ruby {
          font-size: 16px;
        }
      }
    }
  }
}

.ly_apply {
  // background-color: $main-color;
  background: radial-gradient($main-color, #000);
  color: #fff;

  .el_lv3Heading {
    &::before {
      border-left: 4px solid #fff;
    }
  }

  .btn {
    @include btn(
      $main-color,
      #fff,
      16px 0
    )
  }
}

.ly_service {
  .card {
    li {
      width: calc((100% / 3) - 20px);
      margin-right: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }
      position: relative;
    }
  }

  .bl_cardTextBox {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    bottom: 0;
  }
}


@media (max-width: 767px) {
  .el_strecheRod {
    height: 8vh;
  }

  .el_lv2Heading {
    font-size: 24px;
  }

  .el_lv4Heading {
    font-size: 18px;
  }
  .ly_entry {
    .card {
      li {
        width: 100%;
        margin-right: 0;
      }
    }
  }
  .ly_service {
    .card {
      li {
        width: 100%;
        margin-right: 0;

      }
    }
  }

  .ly_event {
    .card {
      li {
        &:first-child {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }

  .ly_midCareer {
    .card {
      li {
        &:first-child {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

.el_strecheRod {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  z-index: 1;
  height: 15vh;

  &__in {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      bottom: 0;
      background: #fff;
      animation: stretchRod 2s cubic-bezier(0.51, 0.23, 0.68, 0.89) infinite;
      animation-fill-mode: both;
    }
  }
}

@keyframes stretchRod {
  0% {
    height: 0; 
  }
  50% {
    height: 15vh;
  }
  100% {
    height: 15vh;
    transform: translate(0, 15vh); 
  }
}

@media (max-width: 767px) {


  @keyframes stretchRod {
    0% {
      height: 0; 
    }
    50% {
      height: 8vh;
    }
    100% {
      height: 8vh;
      transform: translate(0, 8vh); 
    }
  }
}