<%-
  include('_header', {
    page: json['recruit.entry']
  });
%>

<div class="ly_content" id="fresh">
  <div class="topBg">

  </div>
  <section class="ly_heading ly_inner">
    <div class="el_lv2Heading">
      エントリー
    </div>
  </section>
</div>

<%- include('./_footer') %>