<%- include('../_header') %>

<div class="content">
  <div class="main_vidual">
    <div class="ttl-box">
      <div class="btn">
        Recruiting Policy
      </div>
    </div>
  </div>
  <section class="ly_entry">
    <div class="inner">
      <h2 class="el_lv2Heading">ENTRY</h2>
      <div class="el_leadText">
        「新卒採用」・「中途採用」の募集職種の詳細情報や、先輩社員の声について
      </div>
      <ul class="card">
        <li>
          <a href="">
            <div class="bl_imgBox">
              <img src="/img/entry01.jpg" alt="">
            </div>
            <div class="bl_cardTextBox">
              <div class="el_boxTtl">- 新卒採用</div>
              <p class="el_boxText">
                新卒向けにファーストキャリアを安心して選ぶにあたり、採用情報をより詳しくお伝えさせていただくページです。
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="bl_imgBox">
              <img src="/img/entry02.jpg" alt="">
            </div>
            <div class="bl_cardTextBox">
              <div class="el_boxTtl">- 新卒採用</div>
              <p class="el_boxText">
                新卒向けにファーストキャリアを安心して選ぶにあたり、採用情報をより詳しくお伝えさせていただくページです。
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="ly_event">
    <div class="inner">
      <div class="el_lv2Heading">
        EVENT・CAREER INFORMATION
      </div>
      <div class="el_leadText">
        先輩インタビューやイベント情報・募集要項はこちら
      </div>
      <h3 class="el_lv3Heading">
        <span class="">NEW GRADUATE</span>
        新卒採用関連記事
      </h3>
      <div class="card">
        <li>
          <a href="">
            【新卒入社】先輩インタビュー
            セールスプロデューサー/マーケティングプロデューサー
          </a>
        </li>
        <li>
          <a href="">
            セミナー・イベント<br>研修情報
          </a>
        </li>
      </div>
    </div>
  </section>

  <section class="ly_post">
    <div class="inner">
      <h3 class="el_lv3Heading">
        RECENT POST
        <span>新着記事</span>
      </h3>
    </div>
  </section>
  <section class="ly_midCareer">
    <div class="inner">
      <h3 class="el_lv3Heading">
        <span>MID-CAREER</span>
        中途採用関連記事
      </h3>
  
      <ul class="card">
        <li>
          <a href="">
            【中途入社】先輩インタビュー
            コンサルティング営業/マーケティングプロデューサー/クリエイティブ/バックオフィス
          </a>
        </li>
        <li>
          <a href="">
            セミナー・イベント<br>研修情報
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="ly_post">
    <div class="inner">
      <h3 class="el_lv3Heading">
        RECENT POST
        <span>新着記事</span>
      </h3>
    </div>
  </section>
  <section class="ly_apply">
    <div class="inner">
      <h3 class="el_lv3Heading">
        <span>APPLICATION REQUIREMENTS</span>
        各種募集要項一覧
      </h3>
      <div class="btn">一覧を見る</div>
    </div>
  </section>
  <section class="ly_service">
    <div class="inner">
      <div class="card">
        <li>
          <a href="">
            Preparation<br>Allowance<br>System
            入社支援金制度について
          </a>
        </li>
      </div>
    </div>
  </section>
</div>

<%- include('../_footer') %>